.control-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.control-buttons>button {
  margin-top: 5px;
  max-height: 50px;
}

.divider {
  height: 240px;
  background-color: black;
  width: 3px;
  margin: 2px;
}

.player-cards-holder {
  display: flex;
  overflow: auto;
}

.others-cards {
  border-right: '3px solid black';
  padding-right: 3
}